# Backend port
PORT=3000
# ENVIRONMENT: DEVELOPMENT STAGING PRODUCTION
ENVIRONMENT=DEVELOPMENT

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=checkout_db

JCHAT_GOOGLE_CLIENT_ID=